html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

//--------------------------------------------------------------------------------------------------------------

@font-face {
  font-family: "ProductSans";
  src: url(../fonts/FontsFreeNetProductSansRegular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "ProductSans";
  src: url(../fonts/FontsFreeNetProductSansBold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "ProductSans", sans-serif;
}

//----------------------------------------------------------------------------------------------

@mixin subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}
@mixin title {
  font-weight: 700;
  font-size: clamp(24px, 3.3vw, 40px);
  line-height: 120%;
  color: #000000;
}
@mixin desc {
  font-size: clamp(13px, 1.3vw, 16px);
  line-height: 150%;
  color: #888888;
}


[class*="container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  &__container {
    display: flex;
    align-items: center;
    gap: 162px;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__burger {
    display: none;
  }
  &__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #f16214;
    }
  }
  &__link--register {
    color: #ffffff;
    background-color: #f16214;
    padding: 7px 17px;
    border-radius: 120px;
    transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
    }
  }
}
.logo {
  width: 162px;
  height: 45px;
}

.hero {
  padding-top: 220px;
  background-image: url(../img/image.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 380px;
  background-position-y: 0px;
  &__title {
    font-weight: 700;
    font-size: clamp(40px, 6.1vw, 75px);
    line-height: 120%;
    color: #000000;
    max-width: 490px;
  }
  &__desc {
    @include desc;
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 570px;
  }
  &__btn {
    margin: 40px 0;
  }
  &__feature {
    margin: 0 auto;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
    border-radius: 60px 0px;
    margin-top: 230px;
  }
  &__feature-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__feature-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
    &:not(:last-child) {
      border-right: 1.5px solid #DDDDDD;
    }
  }
  &__feature-img {
    width: 40px;
    height: 40px;
  }
  &__feature-title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(12px, 1.3vw, 16px);
    line-height: 19px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 6px;
  }
  &__feature-desc {
    font-size: 13px;
    line-height: 16px;
    color: #888888;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #f16214;
  border-radius: 54px;
  transition: background-color 0.5s ease-in-out;
  &__text {
    transition: color 0.3s ease-in-out;
    padding: 13px 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
  }
  svg {
    width: 40px;
    height: 40px;
    padding-right: 2px;
  }
  &:hover {
    background-color: transparent;
    .btn__text {
      color: #f16214;
    }
  }
}

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
  &__link {
    width: 40px;
    height: 40px;
  }
  svg {
    circle {
      transition: fill-opacity 0.3s ease-in-out;
      fill: #f16214;
      fill-opacity: 0.15;
    }
    path {
      transition: fill 0.3s ease-in-out;
      fill: #f16214;
    }
    &:hover {
      circle {
        fill-opacity: 1;
      }
      path {
        fill: #ffffff;
      }
    }
  }
}

.work {
  margin-top: 110px;
  &__container {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  &__img {
    max-width: 60%;
    object-fit: contain;
  }
  &__content {
    max-width: 570px;
  }
  &__subtitle {
    @include subtitle;
  }
  &__title {
    @include title;
    margin-top: 6px;
    margin-bottom: 45px;
  }
  &__desc {
    @include desc;
    margin-bottom: 30px;
  }
}

.services {
  margin-top: 200px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    @include subtitle;
  }
  &__title {
    @include title;
    margin-top: 6px;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 420px;
    background: #FFFFFF;
    box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
    border-radius: 60px 0px;
    padding: 70px 20px;
    &:first-child, &:last-child {
      border: 2px solid #EEEEEE;
    }
  }
  &__list-img {
    width: 80px;
    height: 80px;
  }
  &__list-title {
    font-weight: 700;
    font-size: clamp(22px, 2.16vw, 26px);
    line-height: 32px;
    color: #000000;
    margin-top: 44px;
    margin-bottom: 22px;
  }
  &__list-desc {
    font-size: clamp(12px, 1.3vw, 16px);
    line-height: 160%;
    text-align: center;
    color: #888888;
  }
}





.product {
  margin-top: 100px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    @include subtitle;
  }
  &__title {
    @include title;
    margin-top: 6px;
    margin-bottom: 55px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__list-item {
    max-width: 420px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 50px 0px;
  }
  &__list-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 20px 50px;
  }
  &__list-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
  }
  &__list-btn {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 14px 19px;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: #F16214;
    }
  }
  &__list-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__list-rating {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    &::before {
      content: url(../img/star.svg);
      margin-right: 5px;
    }
  }
  &__list-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
  &__btn {
    margin-top: 60px;
    margin-bottom: 100px;
  }
}

.app {
  &__container {
    background-image: url(../img/app-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 60px 0px;
    position: relative;
    width: 90%;
  }
  &__left {
    margin-left: 30px;
    padding-top: 90px;
  }
  &__title {
    font-weight: 700;
    font-size: clamp(28px, 3.3vw, 40px);
    line-height: 49px;
    color: #FFFFFF;
  }
  &__btn {
    max-width: 220px;
    max-height: 80px;
    border-radius: 13px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 90px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  &__right {
    position: absolute;
    right: 8%;
    top: -25%;
  }
  &__mobile {
    max-width: 600px;
    max-height: 660px;
  }
}


.reviews {
  background-image: url(../img/test-1.jpg);
  background-repeat: no-repeat;
  background-size: 390px;
  background-position: left top;
  margin-top: 200px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__subtitle {
    @include subtitle;
  }
  &__title {
    @include title;
    margin-top: 6px;
    margin-bottom: 55px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__author {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  &__author-img {
    width: 80px;
    height: 80px;
  }
  &__author-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    span {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #888888;
    }
  }
  &__text {
    @include desc;
    text-align: center;
    margin-top: 50px;
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 34px;
  }
  &__btn {
    width: 50px;
    height: 50px;
    border: 1.5px solid #EEEEEE;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: #F16214;
      svg {
        path {
          transition: fill 0.3s ease-in-out;
          fill: #FFFFFF;
        }
        line {
          transition: stroke 0.3s ease-in-out;
          stroke: #FFFFFF;
        }
      }
    }
    svg {
      width: 23px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      path {
        fill: #F16214;
      }
      line {
        stroke: #F16214;
      }
    }
    &--reverse {
      background: #F16214;
      border-radius: 10px;
      transform: rotate(-180deg);
      svg {
        path {
          fill: #FFFFFF;
        }
        line {
          stroke: #FFFFFF;
        }
      }
      &:hover {
        background-color: #FFFFFF;
        svg {
          path {
            transition: fill 0.3s ease-in-out;
            fill: #F16214;
          }
          line {
            transition: stroke 0.3s ease-in-out;
            stroke: #F16214;
          }
        }
      }
    }
  }
  &__right img {
    max-width: 570px;
  }
}


.sub {
  margin-top: 180px;
  &__container {
    width: 90%;
    background-image: url(../img/app-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 60px 0px;
    position: relative;
  }
  &__img {
    position: absolute;
    max-width: 460px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 70px;
  }
  &__title {
    font-weight: 700;
    font-size: clamp(28px, 3.3vw, 40px);
    line-height: 120%;
    color: #FFFFFF;
  }
  &__text {
    font-size: clamp(12px, 1.3vw, 16px);
    line-height: 150%;
    color: #888888;
  }
  &__form {
    max-width: 500px;
    max-height: 60px;
    height: 100%;
    width: 100%;
    position: relative;
    background: #FFFFFF;
    border-radius: 13px;
  }
  &__input {
    border: none;
    outline: none;
    margin: 24px 0;
    color: #CCCCCC;
    width: 75%;
  }
  &__btn {
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 13px 22px;
    font-weight: 700;
    font-size: clamp(12px, 1.3vw, 16px);
    line-height: 150%;
    color: #FFFFFF;
  }
  &__btn--tel {
    display: none;
    position: absolute; 
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #F16214;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    svg {
      width: 15px;
      height: 15px;
      path {
        fill: #FFFFFF;
      }
    }
    &:hover {
      background: #fff;
      svg {
        path {
          fill: #F16214;
        }
      }
    }
  }
}

.footer {
  background: #F5F5F5;
  margin-top: 100px;
  &__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  &__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  &__col {
    &:last-child {
      margin-left: 100px;
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 150%;
    color: #888888;
    max-width: 270px;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 36px;
  }
  &__item {
    font-size: 16px;
    line-height: 150%;
    color: #888888;
  }
  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
  &__address {
    font-size: 16px;
    line-height: 150%;
    color: #888888;
  }
  &__tel {
    font-size: 16px;
    line-height: 150%;
    color: #888888;
  }
  &__form {
    margin-top: 20px;
    max-width: 270px;
    max-height: 50px;
    position: relative;
  }
  &__input {
    padding: 12px 19px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  &__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #F16214;
    border-radius: 10px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    svg {
      width: 7px;
      height: 10px;
      path {
        fill: #FFFFFF;
      }
    }
    &:hover {
      background: #fff;
      svg {
        path {
          fill: #F16214;
        }
      }
    }
  }
  &__bottom {
    margin-top: 70px;
    border-top: 1.5px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__copyright {
    font-size: 15px;
    line-height: 170%;
    color: #888888;
    text-align: center;
    margin-top: 23px;
  }
}
